.footerDiv {
  background: #000;
  border-top: solid 1px #1a1a1a;
  padding: 4em 0em;
}
.footerDiv_area {
  display: flex;
  flex-direction: column;
}
.footerDiv_area_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerDiv_area_1_img_div {
  width: 150px;
}
.footerDiv_area_1_img {
  width: 100%;
}
.footerDiv_area_1_socials_div {
  display: flex;
  align-items: center;
}
.footerDiv_area_1_socials_div_link1 {
  color: #c9c9c9;
  margin-right: 10px;
}
.footerDiv_area_1_socials_div_link1_icon {
  border-radius: 50px !important;
  border: solid 1px;
  padding: 5px;
  font-size: 32px !important;
}
.footerDiv_area_2 {
  padding: 2em 1em;
  border-top: solid 1px #191919;
  margin-top: 2em;
  color: #8d8d8d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .footerDiv {
    padding: 2em 0em;
  }
  .footerDiv_area_2 {
    padding-bottom: 0em;
  }
}
