.header_div {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
}
section.header_section {
  position: relative;
  padding: 1em 0em;
  background: #00000030;
  border-bottom: solid 1px #ffffff33;
}

.header_section_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.header_section_1 {
  width: 100%;
}
.header_section_2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img.header_section_2_img {
  width: 150px;
}
.header_section_3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header_section_1_menu_btn {
  width: max-content;
  display: flex;
  cursor: pointer;
}
.header_section_1_menu_btn_icon {
  margin-right: 3px;
}
.header_section_3_icon {
  font-size: 28px !important;
  cursor: pointer;
}
