.Dashboard {
  display: flex;
  height: 100vh;
  background: #000000;
  position: relative;
}
.Dashboard_body_area {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.Dashboard_body {
  height: 100%;
  background: #29292f;
  padding: 4em;
  position: relative;
  border-radius: 30px;
  overflow-y: scroll;
}
.Dashboard_body::-webkit-scrollbar {
  background: #000000 !important;
  width: 10px;
}

.Dashboard_body::-webkit-scrollbar-thumb {
  background: #2c2c2c !important;
  border-radius: 50px;
}
