* {
  margin: 0;
  padding: 0;
  font-family: "Omnes", sans-serif;
  text-decoration: none !important;
}
body {
  font-family: "Omnes", sans-serif;
  cursor: none;
}
.custom_container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 0em 2em;
  height: 100%;
}
html {
  scroll-behavior: smooth;
  transition: 2s ease-in;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::selection {
  background-color: #21583a;
  color: #fff;
}
button:focus {
  outline: unset !important;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
}
.custom-cursor {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff12;
  border: solid 1px #fff;
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  backdrop-filter: blur(2px);
}
.loading_div_area {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.loading_div_area_img {
  width: 150px;
}
